/* petgramBanner.css */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a64ca6; /* Fondo morado */
    color: white;
    font-size: 2em; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    padding: 15px 0; /* Más espacio vertical */
    font-family: 'Arial', sans-serif;
}

.logo {
    display: inline-block;
    width: 50px; /* Tamaño ajustado para el logo */
    height: 50px;
    margin-right: 10px;
    background-image: url('ruta-a-tu-imagen/logo.png'); /* Reemplaza con la ruta de tu logo */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner span {
    font-family: 'Raspberie', serif;
    color: #FFFFFF;
}
